@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Container untuk membagi halaman menjadi dua bagian */
.container {

    opacity: 0; /* Mulai dengan elemen tersembunyi */
    transform: scale(0.1); /* Mulai dengan ukuran lebih kecil */
    transition: opacity 2s ease, transform 2s ease; /* Menambahkan transisi untuk opacity dan transform */
    
    background-color:  rgb(248, 236, 236);
    display: flex;
    height: 100vh; /* Menyesuaikan tinggi halaman dengan tinggi viewport */
}

.container.show {
    opacity: 1; /* Menampilkan elemen */
    transform: scale(1); /* Mengembalikan ukuran elemen */
  }

/* Sisi kiri */
.left-side {
    background-color: rgb(248, 236, 236); 
    width: 65%; /* Lebar sisi kiri */
   
}
    

/* Sisi kanan */
.right-side {

    
    background-color: #c70d0d;
    width: 35%; /* Lebar sisi kanan */
    color: white; /* Warna teks putih */
    
    border-radius: 60px 0 0 60px;
    
}

.right-side img{
    width: 700px;
    height: 750px;
    margin-top: 100px;
    margin-left: -350px;
    filter: drop-shadow(1px 15px 15px black);
    overflow: hidden;
    transition: transform 0.5s ease-in-out;
}
 
nav {
   
    padding: 10px 20px;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }

  li {
    position: relative;
    margin-right: 30px;
    padding: 10px;
    color: black;
    font-size: 23pt;
    font-weight: 400;
    cursor: pointer;
  }

.nav-item{
    
   
    margin-top: 35px;
    margin-left: 300px;
    
    list-style-type: none; 
    display: flex;
    gap: 5rem;

    font-family: "Fredoka", sans-serif;
    font-size: 1.5rem;
    
    
}

.logo-1 {
    width: 130px;
    height: auto;
    display: flex;
    position: fixed;
    margin-left: -280px;
    margin-top: -40px;

}


.logo-2 {
    width: 25px;
      height: 25px;
      position: absolute;
      right: -30px; /* Posisi logo di samping kanan teks */
      top: 50%;
      transform: translateY(-50%);
      opacity: 0; /* Logo tidak terlihat secara default */
      transition: opacity 0.3s ease-in-out, right 0.3s ease-in-out;
  }

  li:hover .logo-2 {
    opacity: 1;  /* Logo muncul saat hover */
    right: -40px; 
  }



.right-side h1 {

    
    transform: rotate(-90deg);
    white-space: nowrap;
    font-size: 130pt;
    
    letter-spacing: 10px;
    color: rgb(228, 228, 228);
    font-family: "Fredoka", sans-serif;
    font-weight: 550;

    margin-top: -350px;
    margin-left: 300px;
    
}

#gambar-1:hover {
    transform: scale(120%);
    transition: transform 0.5s ease-in-out;
    
}

.banner {
    
    position: relative;
}

.banner #text-2{
    
   margin-top: 10px;
    margin-left: 50px;
    font-size: 100pt;
    line-height: 110px;

    background-image: linear-gradient(to right, #c70d0d, rgb(236, 183, 183)); /* Gradien warna */
      -webkit-background-clip: text; /* Menyediakan efek gradien pada teks */
      color: transparent; /* Membuat warna teks menjadi transparan agar gradien terlihat */
}


.banner #text-3{
    
   
    margin-left: 50px;
    font-size: 100pt;
    line-height: 150px;

    background-image: linear-gradient(to right, #c70d0d, rgb(231, 136, 136)); /* Gradien warna */
      -webkit-background-clip: text; /* Menyediakan efek gradien pada teks */
      color: transparent; /* Membuat warna teks menjadi transparan agar gradien terlihat */
}

#text-3 span{
    border: 2px solid black;   
    border-radius: 58px;
    padding-top: -5px;
}
.banner h3{
    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 150px;
    margin-left: 50px;
    font-size: 22pt;
    color: rgb(77, 68, 68)
}

.banner p{
    
    color: rgb(99, 85, 85);
    font-family: "Fredoka", sans-serif;
    margin-top: 30px;
    margin-left: 50px;
    font-size: 16pt;
    line-height: 30px;
    letter-spacing: 0.7px;
    
    
}

